.background2 {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 204, 255);
  color: white;
  padding: 5rem 1.5rem 10rem 1.5rem;
}

.intro {
  font-size: 1.25rem;
  width: 55%;
  line-height: 1.5;
}

.skillsBoard {
  box-shadow: 6px 6px 6px #888888;
  background-color: white;
  margin-top: -5rem;
  border: 1.5px rgb(121, 118, 153) groove;
  margin-inline: 10%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content ;
  grid-auto-flow: column;
}

/* Mobile: width < 768px */
@media only screen and (max-width: 768px) {
  .skillsBoard {
    margin-inline: 0;
  }

  .intro {
    width: 100%;
  }
}