.background3 {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.background3>div>h4>i {
  color: #6E07F3;
}

/* Education */
.education {
  width: 50%;
}

.educationLevel {
  box-shadow: 6px 6px 6px #888888;
  color: black;
  background-color: rgba(235, 235, 235, 0.464);
  border-left: 5px solid #6E07F3;
  width: 70%;
  border-radius: 0 8px 8px 0;
  margin: 25px auto;
}

.school {
  margin: 0;
  padding: 12px 0 5px 0;
  color: rgb(0, 204, 255);
  font-weight: bold;
}

.specialization {
  margin: 0;
  padding: 5px 0 12px 0;
}

.school>i {
  color: #6E07F3;
}

/* Project */
.projectList {
  display: flex;
  flex-direction: column;
}

.project {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.project p {
  margin: 5px;
}

.projectImg {
  width: 50%;
  border-radius: 10px;
}

/*Tablet: width >= 768px and width < 1024px*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .background3 {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }

  .education {
    width: 100%;
  }

  .project {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .projectImg {
    width: 80%;
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 768px) {
  .background3 {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }

  .education {
    width: 100%;
  }

  .project {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .projectImg {
    width: 80%;
  }
}