.App {
  text-align: center;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .AppHeader>i {
    animation: spin infinite 10s linear;
  }
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 5vmin);
  color: white;
}

.AppHeader>i {
  color: rgb(0, 204, 255);
  font-size: 650%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
