.background1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #6E07F3; */
}

.jobIntro {
  margin-top: 5%;
  font-size: 250%;
  margin-bottom: 0;
}

.avatar {
  width: 10rem;
  /* height: 15%; */
  background-color: aqua;
  border-radius: 100%;
  margin: 1rem 0;
}

.devices {
  margin: 1rem 0;
  max-width: 70%;
}